<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
    <key>CFBundleName</key>
    <string>CFBundleName</string>
    <key>CFBundleVersion</key>
    <string>10.2</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>true</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIconFile</key>
    <string>MasterIcon.icns</string>
    <key>Java</key>
    <dict>
        <key>MainClass</key>
        <string>MainClass</string>
        <key>JVMVersion</key>
        <string>1.4+</string>
        <key>ClassPath</key>
        <array>
            <string>$JAVAROOT/sketchpad.jar</string>
            <string>$JAVAROOT/xerces.jar</string>
            <string>$JAVAROOT/gif89.jar</string>
            <string>$JAVAROOT/png.jar</string>
        </array>
        <key>Properties</key>
        <dict>
            <key>com.apple.mrj.application.apple.menu.about.name</key>
            <string>SketchPad</string>
            <key>com.apple.macos.use-file-dialog-packages</key>
            <string>true</string>
            <key>com.apple.macos.useScreenMenuBar</key>
            <string>true</string>
        </dict>
    </dict>
</dict>
</plist>
