<?xml version="1.0" encoding="utf-8"?>
<settings>
	<category label="100">
		<setting label="1000" type="text" id="infourl" default="http://github.com/Eisbahn/IMDb_de-Scraper" enable="false"/>
		<setting label="1001" type="bool" id="getallgenre" default="true"/>
		<setting label="1002" type="bool" id="fullcredits" default="false"/>
		<setting label="1003" type="bool" id="fanart" default="true"/>
		<setting label="1004" type="bool" id="tmdbthumbs" default="true"/>
		<setting label="1005" type="bool" id="movieposterdb" default="true"/>
		<setting label="1006" type="labelenum" values="192|256|384|512|1024" id="imdbscale" default="512"/>
	</category>
	<category label="101">
		<setting label="1007" type="bool" id="getofdbplot" default="true"/>
		<setting label="1009" subsetting="true" type="bool" id="getofdbplotalways" default="false"/>
		<setting label="1008" subsetting="true" type="bool" id="getofdbtitel" default="false"/>
		<setting label="1015" type="bool" id="moviemazeplot" default="true"/>
		<setting label="1017" type="bool" id="tmdbplot" default="true" />
		<setting label="1018" subsetting="true" type="labelenum" values="de|en" id="plotlanguage" default="de" />
		<setting label="1011" type="bool" id="imdbcomplotfallback" default="true" />
		<setting label="1019" type="bool" id="useoriginaltitle" default="false" />
	</category>
	<category label="102">
		<setting label="1010" type="bool" id="tmdbtrailer" default="false"/>
		<setting label="1013" subsetting="true" type="labelenum" values="de|en" id="language" default="de" />
		<setting label="1016" type="bool" id="moviemazetrailer" default="false" />
		<setting label="1014" type="labelenum" values="No|mp4|wmv" id="ofdbtrailer" default="No" />
		<setting label="1012" type="labelenum" values="No|480p|720p|1080p" id="TrailerQ" default="No"/>
	</category>
</settings>
